{% extends "AppCoder/main_hospital.html" %}

{% load static %}

{% block titulo %}
<h1 class="mb-5">Enfermera</h1>
{% endblock %}





{% block contenido_cambia %}



<div align="center">

<h4>Adicionar Enfermera</h4>

<form action="{% url 'enfermera' %}" method="POST"> {% csrf_token %}
     
    <table>
        {{ form.as_table}}
    </table><br/>
    
    
    <input type="submit" value="Adicionar">
    
</form>

</div>


{% endblock %}


{% block img_include %}
<br/>
<img class="img-responsive" src="{% static '\AppCoder\assets\img\web_nurse2.png' %}" >
{% endblock %}


{% block img_success %}
<img class="img-responsive" src="{% static '\AppCoder\assets\img\data_success.png' %}" >
{% endblock %}